<%= form_for [@company, @job] do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :company_id, :value => params[:company_id]%>

    <%= f.label :address %>
    <%= f.text_field :address, required: true, value: @job.address %>

    <%= f.label :duration %>
    <%= f.number_field :duration, required: true, value: @job.duration %>

    <%= f.label :notes %>
    <%= f.text_field :notes, required: true, value: @job.notes %>

    <%= f.label :job_type %>
    <%= f.text_field :job_type, required: true, value: @job.job_type %>

    <%= f.label :builder_name %>
    <%= f.text_field :builder_name, required: true, value: @job.builder_name %>

    <!-- nested category form  -->

    <%= f.fields_for :category do |ff|%>
    
        <h1>Category create </h1>
        <%= ff.label :name %>
        <%= ff.text_field :name, value: @job.category.name %>

        <%= ff.label :work_type %>
        <%= ff.text_field :work_type, value: @job.category.work_type %>

    <% end %>

    <%= f.submit "submit"%>
<% end %>